*{
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.clear{
  clear: both;
}
body{
  background-image: url(images/bg.jpg);
}
main{
  width: 1020px;
  margin: auto;
  font-family: "Josefin Sans", Bitter;
  background-color: white;
}
nav{
    text-align: center;
    background-color: black;
}
nav li{
 font-weight: bolder;
  list-style-type: none;
  display: inline-block;
  padding-right:15px;
  padding-top: 10px;
  color:white;
}
#home-jaune{
  color: #cfa205;
}
header{
  height: 320px;
  background-color: black;
  color : #cfa205;
  text-align: center;
  padding-top: 55px;
  /*padding: 50px;*/
}
header h1{
  font-size: 133px;
  font-weight: lighter;
}
header h3{
  font-weight: bolder;
  font-family: "Bitter";
}
header .fa-circle {
  font-size: 8px;
  margin-top: 5px;
  vertical-align: top;
  color: #cfa205;
}
section ul .fa-circle-o{
  font-size: 30px;
}



.font-size{
  font-size: 18px;
  padding-top: 40px;

}
.facebook{
  background-color : #e8e8e8;
  height : 60px;
  text-align: center;
}
i{
  color : #9e9e9e;

}
p{
  line-height: 160%;
}

section li{
  list-style-type: none;
  display: inline-block;
  margin-top: 9px;

}

.texte{
  width: 900px;
  height: 90px;
  text-align: center;
  margin: auto;
  font-weight: bolder;
  color : #7a7a7a;
  font-size: 18px;
  font-family: "Bitter";
  padding: 40px 0 40px 0;
  margin-bottom: 30px;

}
.hr{
    border-bottom: 1px solid #e8e8e8;
    padding-top: 60px;
    width: 900px;
    margin: auto;
}

.div1{
  width: 260px;
}
.div2{
  width: 260px;
  padding-top: 30px;
  padding-bottom: 30px;
}
article{

  float: left;
  margin-top: 60px;
}
.article2{
  margin-left:55px;
  margin-right: 55px;
}
.touslesarticles{

  width: 900px;
  margin: auto;
  font-weight: bolder;

}

article p{
  color : #9e9e9e;
}
article h3{
  padding-bottom: 15px;
}
